#book-description {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-thumbnail {
    width: 50px;
    height: 70px;
}

th, td {
    vertical-align: middle !important;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    #books-datatable_paginate {
        float: left;
    }

    #books-datatable_wrapper .col-sm-12 {
        overflow: auto;
    }
}