.search-bar-div {
    margin-left: -20px;
}

.shopping-cart-div {
    padding: 7px;
    width: max-content;
    float: right;
    cursor: pointer;
}

.shopping-cart-products-nr {
    padding: 2px;
    position: absolute;
    top: -6px;
    right: 135px;
    color: red;
}

.search-bar {
    margin-left: 0;
    margin-right: 0;
}

.shop-footer .col-md-4 {
    margin: auto;
}

.leaflet-map-div {
    margin: 0 20px;
}

#leaflet-map {
    height: 260px;
}

.footer-info-div {
    padding: 6px;
}

@media screen and (max-width: 400px) {
    .search-bar-div {
        margin-left: unset;
    }

    .search-bar .col-md-8 {
        margin-top: 1rem;
    }

    .pagination-div .float-right {
        float: unset !important;
        overflow: hidden;
    }
}