th, td {
    vertical-align: middle !important;
}

.no-products-h {
    padding: 1rem;
}

.no-products-redirect {
    text-decoration: none;
    color: black;
}

.table {
    margin-bottom: 0;
}

.tbl-book-id {
    width: 5%;
}

.tbl-book-title {
    width: 35%;
}

.tbl-book-price {
    width: 15%;
}

.tbl-book-quantity {
    width: 25%;
}

.tbl-book-quantity input {
    width: 70%;
}

.products-total-price-div,
.user-points-div {
    padding: 0.5rem 1rem 0 0;
    text-align: end;
}

.products-total-price-div *,
.user-points-div * {
    display: inline-block;
    padding: 5px;
}

.products-total-price-value-div,
.products-total-price-value,
.user-points-value-div,
.user-points-value {
    font-size: 1.5em;
    vertical-align: middle;
}

.products-total-price-checkout-btn {
    float: right;
    clear: both;
    margin: 1rem;
    width: 20%;
}

form {
    clear: both;
    display: none;
}

form input[type=radio] {
    width: 50px;
    height: 30px;
}