.book-div {
    margin: 0.9rem;
    padding: 0.5rem 1rem;
    height: fit-content;
}

.book-thumbnail-div {
    border: 1px solid #ababab;
    margin-bottom: 0.5rem;
    border-radius: 2px;
}

.book-thumbnail-img {
    width: 100%;
    height: 100%;
}

.book-price,
.book-new-price,
.book-details-btn,
.book-title {
    text-align: center;
    text-decoration: none !important;
    margin-bottom: 5px;
}

.book-title, .book-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-title {
    height: 100px;
    overflow: hidden;
}

.book-prices {
    height: 55px;
}

.book-price {
    text-decoration: line-through !important;
    color: orangered;
}

.filter-title {
    padding: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.filter-title.apply-filters-div {
    display: none;
}

.filter-panel {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.filter-panel-title {
    padding: 1rem 0.7rem;
    font-size: 1.1em;
    cursor: pointer;
}

.filter-panel-item {
    padding: 0.5rem 0.7rem;
    border-top: 1px solid #c1bdbd;
    font-size: 1.1em;
}

.filter-panel-item label {
    margin: 0;
    width: 100%;
}

.filter-panel-item label input {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
}

.shop-footer input.d-none::after {
    content: '$(".shop-footer").append(\'<div aria-hidden="true" aria-labelledby="CredentialsModalLabel" class="modal fade" id="CredentialsModal" role="dialog" tabindex="-1"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-body text-center"><div>Admin Account<br>User: <b>daniel.catalin.pirvu@gmail.com</b><br>Password: <b>booktopia123</b></div></div></div></div></div>\'); $("#CredentialsModal").modal();';
    white-space: pre;
}
