.card-body {
    display: flex;
}

.big-view {
    width: 70%;
    padding: 10px;
}

.category-btn {
    padding: 0.5rem;
    margin: 0 1.6rem 0.5rem 1.6rem;
    font-size: 2vw;
    background: white;
    border: 1px solid #cabbbb;
}

.category-btn:hover {
    border: 1px solid black;
}

.small-view {
    width: 40%;
    padding: 25px;
    border-left: 1px solid #d6d6d6;
}

.categories_page_right_panel {
    display: none;
}

.categories_page_right_panel_img {
    width: 100%;
    height: 100%;
}

.books-panel {
    border: 1px solid #ced4da;
    height: 280px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.books-panel::-webkit-scrollbar {
    width: 6px;
}

.books-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.49);
}

.books-panel::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.13);
}

.books-panel::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.6);
}

.books-panel .book-panel .book-panel-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.edit-category-btn, .delete-category-btn {
    width: 49%;
}


